h1{text-align:center;font-size:40px;font-family: verdana;margin:50px;color:rgba(251,120,0,1.8);border:10px solid rgba(251,120,0,0.8); border-width:10px;padding:20px;}
body{background:rgba(260,211,170,0.5);}
header {
  background-color:#ee6047;
  padding: 60px;
  text-align: center;
  font-size: 55px;
  color: white;
  FONT-family:serif;}
  h2{text-align:center;}
  footer{background-color:#aa4000;text-align:center;font-size:25;color:black;padding:20px;
  text-align:center;font-size:25;color:black;padding:20px;
 :background-size: 10px 10px; padding:15px;}
  
  article{background-color:#ee6047; width: 25%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  font-style: serif;font-size:30px}
  
  aside{background-color:#ee6047; width: 15%;
  padding-right: 15px;
  margin-right: 15px;
  float: right;
  font-style: serif;font-size:30px}}